<h1 style="color: green;">Contactanos <mat-icon aria-hidden="false" aria-label="person" matSuffix>
    public
  </mat-icon></h1> 
<div class="content">
  <form>
    <mat-form-field>
      <input matInput placeholder="Nombre" required />
      <mat-icon aria-hidden="false" aria-label="person" matSuffix>
        person
      </mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Correo electronico" required />
      <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input type="tel" matInput placeholder="Telefono" required />
      <mat-icon matSuffix>call</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Comentario" required></textarea>
      <mat-icon matSuffix>comment</mat-icon>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button class="btn-custom">
        Enviar<i class="material-icons">
          send
        </i>
      </button>
    </div>
  </form>
</div>
