.crop-image{
  margin-top: 10px;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}

.add-to-cart-button {
  background-color: #00b050;
  margin-top: 0%;
  color: white;
  height: 45px;
  border: 1px solid #00b050;
  width: 95.5%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.add-to-cart-button:hover {
    background-color: white;
    color: #00b050;
}

.details-link{
  text-decoration: none;
  color: #0070C0;
}
.details-link:hover{
  font-size: 16.5px;
  color: #0070C0;
}

mat-card{
  min-width: 320px;
  min-height: 520px;
  border: 1px solid #00b050;
  border-radius:15px;
  padding:0;
}

mat-card-header{
  background: #00b050;
  color:white;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

mat-card-content{
  margin:0px
}

mat-card-subtitle{
  color:white;
}

mat-card-actions{
  height: 80px;
}