<div class="products">
  <div class="row product-title">
    <h3 style="margin-left: 20px;" appHighlight>{{ product.title | uppercase }}</h3>
  </div>
  <div class="row product-image">
    <img [src]="product.image" />
  </div>
  <div class="row product-description ">
    <strong class="price">{{ product.price | currency:"BOB ":"symbol" }}</strong>
    <p>
      {{ product.description | slice:0:10 }}
    </p>
    <a class="details-link" [routerLink]="['/products/', product.id]">
      Ver detalles
    </a>
  </div>
  <div class="row product-actions">
    <button mat-button (click)="addToCart()" class="add-to-cart-button">
      Agregar al carrito
      <mat-icon aria-hidden="false" aria-label="cart icon">
        add_shopping_cart
      </mat-icon>
    </button>
  </div>
</div>
