<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3 appHighlight>
        {{ product.title | uppercase }}
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.price | currency: 'BOB ':'symbol' }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" />
  </div>
  <mat-card-content>
    {{ product.description | slice: 0:10 }}
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <a class="details-link" [routerLink]="['/products/', product.id]">
      Ver detalles
    </a><br><br>
    <button mat-button (click)="addToCart()" class="add-to-cart-button">
      Agregar al carrito
      <mat-icon aria-hidden="false" aria-label="cart icon">
        add_shopping_cart
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
