/* You can add global styles to this file, and also import other style files */
*{
    font-family: Montserrat;
}
body{
    margin:0;
    padding:0;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:10px;
    justify-items: center; 
    height: 92%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-product{
    border-radius: 5px;;
}
